.projectCard {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.tilt {
  background-color: #fff;
  padding: 1rem;
  border-radius: 2rem;
  width: 100%;
}

.tiltHeader {
  position: relative;
  width: 100%;
  height: 230px;
  flex: 1;
}

.tiltHeaderImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.tiltHeaderManager {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  margin: 0.75rem;
}

.clickable {
  background: linear-gradient(black, black);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.githubImg {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.name {
  color: #6b7280;
  font-weight: bold;
  font-size: 24px;
}

/*color: var(--text-secondary); */
.description {
  margin-top: 0.5rem;
  color: #6b7280;
  font-size: 14px;
}

.tags {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: end;
  font-weight: bold;
}

.text14 {
  font-size: 14px; /* Tamaño de fuente de 14px */
}

/* sm:text-14px */
.subTitle {
  font-size: 14px;
  color: var(--text-secondary);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/*font-black md:text-60px sm:text-50px xs:text-40px text-30px */
.title {
  color: #fff;
  font-weight: bold;
  font-size: 60px;
}

.descWrapper {
  width: 100%;
  display: flex;
}

.desc {
  margin-top: 0.75rem;
  color: var(--text-secondary);
  font-size: 17px;
  max-width: 48rem;
  line-height: 30px;
}

.projectCardWrapper {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.75rem;
}

.mt5 {
  margin-top: 1.25rem; /* Cambia 1.25rem al valor de margen superior deseado */
}

@media (max-width: 900px) {
  /* Estilos específicos para dispositivos móviles aquí */
  .projectCardWrapper {
    flex-direction: column;
    gap: 0;
    margin-top: 0;
  }
}

.link {
  letter-spacing: 0px;
  margin-right: 0px;
}
