.wrapper {
  /* Estilos correspondientes a max-w-7xl y mx-auto */
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.hashSpan {
  /* Estilos correspondientes a la clase hash-span */
  /* Agrega tus estilos personalizados aquí */
}

.padding {
  padding-left: 1rem; /* Reemplaza sm:px-16 por el valor adecuado en rem */
  padding-right: 1rem; /* Reemplaza px-6 por el valor adecuado en rem */
  padding-top: 4rem; /* Reemplaza sm:py-16 por el valor adecuado en rem */
  padding-bottom: 2.5rem; /* Reemplaza py-10 por el valor adecuado en rem */
}
